*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #E7F6FF;
}



.hero {
   width: 100%;
   background-image: url("../images/bg.jpg");
   background-position: center;
   background-size: cover;
   object-fit: fill;
   margin: auto;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   scroll-behavior: smooth;
 
}

.hero h2 {
    font-size: 1.3rem;
}
.hero h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: maroon;
    font-weight: 500;
}

#hero-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: justify;
}

#logo {
    width: 40px;
    height: 40px;
}

.hero-head{

    width: 75%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.hero-logo img {
    width: 5rem;
    height: 5rem;
}

.banner{
    width: 70%;
    margin: 2rem auto;
    background-color: red;
    height: 300px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    /* border-radius: 1rem; */
}




/* .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

#scroll-container {
    /* border: 3px solid black; */
    width: 50%;
    overflow: hidden;
  }
  
  #scroll-text {
      font-weight: 600;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }


}

footer{
    margin-top: 3rem;
    border-top: 1px solid #000;
    
}

footer p {
    text-align: center;
}

.powered-by{
   
    width: 80%;
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    flex-direction: column;
}

.powered-by p {
    font-size: 0.8rem;
}
.powered-by img {
    width: 140px;
    height: 40px;
}

.slider {
    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.content-head-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-content p {
    text-align: justify;
}


.call-for-paper ol li h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.call-for-paper ol li:nth-child(even)
{
    color: maroon;
}

.paper-submission h5{
text-align: justify;
}

.register-content{
    text-align: justify;
}


.Committees table, td,th{
    border: 1px solid black;
    padding: 0.5rem;
}

.Committees table{
    border-collapse: collapse;
    width: 100%;
}

.Committees h2{
    color: blue;
}

.Committees h3,h5{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.Committees h3{
    color: maroon;
 }

 .Committees #sub_title{
     color: #000;
     
 }